*,*::before,*::after{
    box-sizing: border-box;
    font-family: 'Domine', sans-serif;
    font-weight: 700;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 1s;
}
body.dark{
    background-color: rgba(0, 0, 0, .86);
    transition: all 1s;
}
.btn-icon{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 48px;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
    background-color: rgba(0, 0, 0, .75);
}
.btn-icon:hover,
.btn-icon:focus{
    transform: scale(1.1);
}
.svg{
    height: 30px;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 76px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: .9em;
}
.calculator-grid > button{
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 1.8rem;
    background-color: #edf2f4;
    color: #1c1c1c;
    cursor: pointer;
    box-shadow: 4px 4px 4px  black;
    transition: .4s;
}
button:hover{
    transform: scale(1.1);
}
#span-2 {
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding-right: 1.7em;
}
.output .previous-operand{
    font-size: 1.7rem;
    color: rgba(0, 0, 0, .65);
}
.output .current-operand{
    font-size: 2rem;
    color: #000;
}

.calculator-grid .gray{
    background-color: #e5e5e5;
    color: #1c1c1c;
    box-shadow: 4px 4px 4px  white;
}
.calculator-grid .orange{
    background-color: #ff9500;
    color: #fff;
    font-size: 2.9rem;
    box-shadow: 4px 4px 4px  white;
}

/* Dark Mode styling */
.dark .output .current-operand{
    color: #fff;
}
.dark .output .previous-operand{
    color: rgba(255, 255, 255, .65);
}
.dark  button{
     background-color: #131316;
    color: #fff;
}
.dark .calculator-grid > button:hover{
    transform: scale(1.1);
}
.dark .gray{
    color: #fff;
    background-color: #495057;
}
.dark .orange{
    background-color:  #ff6000;
    color: #fff;
}
.dark .btn-icon{
    background-color:  rgba(255, 255, 255, .65);
}